.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.headingContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #302f2f;
  svg {
    fill: #fff;
  }
  h3 {
    font-weight: 400;
  }
}

.pendingIcon {
  &:hover {
    cursor: pointer;
  }
}
